
.header-blue .navbar{background: rgb(255, 255, 255) !important; }
.header-blue { padding-bottom: 80px;}
.header-blue .navbar.navbar-default .navbar-nav > li > a{ color:#003971 !important; padding-bottom:28px; border-bottom:5px solid transparent}
.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{color:#003971 !important; border-bottom:5px solid #63EAEF}

.top_bar{ padding:50px 0; background:url(../img/bar.jpg) no-repeat center center / cover}
.top_bar h1{ color:#FFFFFF}

body .team-grid {  color: rgb(49, 52, 55) !important;}

body .team-grid .intro{ max-width:none}
body .team-grid .text-center {  text-align: left;}

.resp-tabs-list {  list-style-image: none;  list-style-type: none;  padding: 0; margin-left:-10px; margin-right:-10px}

.resp-tabs-list li { float:left;  width:20%; padding: 10px; }
.resp-tabs-list li .image{ position:relative; }
.resp-tabs-list li img{ max-width:100%;}
.resp-tabs-list li .image .hvr{ opacity:0;  position:absolute; left:0; top:0}
.resp-tabs-list li:hover .image .hvr,.resp-tabs-list li.resp-tab-active .image .hvr{ opacity:1}
.resp-tabs-list li:hover .image:before, .resp-tabs-list li.resp-tab-active .image:before{ border:5px solid #63EAEF; height:calc(100% + 14px); width:calc(100% + 14px); position:absolute; top:-7px; left:-7px; content:""}
.resp-tabs-list li p{ font-size:16px; line-height:1.2; margin-top:10px; color:#003971 }
.resp-tabs-list li p b{ display:block; font-size:20px}
.resp-tabs-list li a{ font-weight:bold; color:#003971 }
.resp-tabs-list li .caret{ margin-top:-3px}
.resp-tabs-list li:hover a,.resp-tabs-list li.resp-tab-active a{ color:#88EFF3 !important}
.resp-tabs-list li:hover .caret{   border-top-color:#88EFF3 !important;}
.resp-tabs-list li.resp-tab-active .caret{ border-bottom:4px dashed;  border-top:0; border-bottom-color:#88EFF3 !important;}

.resp-tabs-list li:hover, .resp-tabs-list li.resp-tab-active{}

.resp-tabs-container { clear: left;}

.resp-tab-content {display: none; border-top:1px solid #88EFF3;  border-bottom:1px solid #88EFF3; padding:30px 0; }
.resp-tab-content p a{ font-weight:bold;}
.resp-tab-content p a img{ margin-right:10px}
.resp-tab-content .certi { margin-top:20px}
.resp-tab-content .certi img{ float:left; margin-right:15px}
.resp-tab-content .certi p b{ display:block}
.resp-tab-content .certi p{ padding-top:5px}
.clearfix:after 
{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .clearfix{display:block}* html .clearfix{height:1%}


#tabs{margin-bottom:50px !important; margin-top:50px !important;}
#tabs *{ color:#02295E}

h2.resp-accordion {cursor: pointer; padding: 5px;  display: none; }
.resp-accordion img{ max-width:100%;}
.resp-accordion .image{position:relative}
.resp-accordion .image .hvr{ opacity:0;  position:absolute; left:0; top:0}
.resp-accordion:hover .image .hvr,.resp-accordion.resp-tab-active .image .hvr{ opacity:1}
.resp-accordion:hover .image:before, .resp-accordion.resp-tab-active .image:before{ border:5px solid #63EAEF; height:calc(100% + 14px); width:calc(100% + 14px); position:absolute; top:-7px; left:-7px; content:""}
.resp-accordion:hover a, .resp-accordion.resp-tab-active a{ color:#88EFF3 !important}
.resp-accordion:hover .caret{   border-top-color:#88EFF3 !important;}
.resp-accordion.resp-tab-active .caret{ border-bottom:4px dashed;  border-top:0; border-bottom-color:#88EFF3 !important;}
.resp-accordion > p{ margin-top:10px}
.resp-arrow{ display:none !important}

h2.resp-accordion {font-size: 16px !important; border: 1px solid #e0e0e0; border-top: 0px solid #e0e0e0; margin: 0px;  padding: 8px 15px; text-align: left; font-weight: bold}

h2.resp-tab-active {  margin-bottom: 0px !important;}

h2.resp-tab-title:last-child { border-bottom: 12px solid #c1c1c1 !important; background: blue;}


/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {float: left; width: 210px;}

.resp-vtabs .resp-tabs-list li {display: block; margin: 0; cursor: pointer; float: none; text-align:left; }

.resp-vtabs .resp-tabs-container {  clear: none;  float: left;  padding: 0;  width: calc( 100% - 210px);}

.resp-vtabs .resp-tab-content {  border: medium none;  margin-top: 0;  padding-left: 70px;  text-align: left;}

.resp-vtabs li.resp-tab-active,.resp-vtabs li:hover { border:none; color: #5c5c5c;}

.resp-vtabs{ position:relative} 

.resp-vtabs:before{ position:absolute; left:210px; top:0; height:100%; width:1px; content:""; background: #e1e1e1; display:block}

.resp-vtabs h5{ margin-bottom:10px;}

.resp-vtabs img{ margin-bottom:15px}


.resp-arrow{position:relative; position: absolute; right: 25px}

.resp-arrow:after{content: '\f107'; font-family: FontAwesome; right: 0}


.pre_foot{ background:#d3dae3; padding:15px 0; text-align:center}
.pre_foot a{ display:inline-block; background:#88EFF3; font-weight:bold; color:#003971; border-radius:20px; padding:10px 20px}


.form-group.half{ float:left; width:calc(50% - 10px)}
.form-group.half.odd{ margin-right:20px}
.form_bottom{ text-align:right}
form label{ color:#02295E; font-weight:bold}
.form-control{ background:#F8F8F8; border-radius:0; border:1px solid #EAEAEA; box-shadow:none}
form input {  background: #88EFF3;  border-image: none;  border-radius: 20px;  box-shadow: none;  padding: 10px 40px;  border: none; color:#003971; font-weight:bold}

.contact_person{ margin-bottom:30px}
.contact_person p{ color:#02295E !important;}

.col_space .col-md-9{ position:relative}
.col_space .col-md-9:before{ position:absolute; height:100%; width:1px; content:""; top:0; right:0; background:#D8D8D8; display:block}
.contact{ padding:50px 0}
.success{ color:#02295E !important; font-weight:bold; padding-bottom:15px}

@media all and (max-width: 767px) {
	
ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; margin-bottom: 0 !important;}

.resp-tab-content { border: 1px solid rgb(224, 224, 224) !important;  border-top:none !important}

#tabs{ border-top: 1px solid rgb(224, 224, 224) !important; margin-top:30px !important; margin-bottom:30px !important}
.resp-tabs-container {border: none; float: none; width: 100%; min-height: initial; clear: none;}

.resp-accordion-closed { display: none !important; }

.resp-tab-content{padding: 15px; }

.col_space .col-md-9:before{ height:1px; width:calc(100% - 30px); top:auto; bottom:0; left:0; right:0; margin: auto}
.contact{ padding:20px 0}
.form_bottom{ text-align:left; margin-bottom:20px}

.header-blue .navbar.navbar-default .navbar-nav > li > a{ padding-bottom:8px; color:#FFFFFF !important; background:#02295E !important; border-bottom: none;}
.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover {  border-bottom: none;  color: #FFFFFF !important;}
.navbar-toggle{ background:#02295E !important}
.header-blue .navbar .navbar-right{ margin-top:0; margin-bottom:0}

.header-blue{padding: 0;}
.form-group.half {float: none; width: 100%;}

.copyright{ width:auto !important}
.header-blue .navbar{background-color:transparent !important}
.navbar-header{background-color:#fff}
.header-blue .hero h1{ padding-top:30px}
}

@media all and (min-width: 768px) and (max-width: 992px) {
	
.resp-tabs-list li p b{ font-size:16px}
.col_space:before{ display:none}
.contact{ padding:20px 0}
.form_bottom{ text-align:left; margin-bottom:20px}

}

@media all and (min-width: 1301px) {

.col_space{ margin-left:-40px; margin-right:-40px}
.col_space .col-md-3, .col_space .col-md-9{ padding-left:40px; padding-right:40px}
}
