/* line 3, /home/ubuntu/workspace/source/stylesheets/events.scss */
#events {
  border: 3px solid #052a5d;
  border-radius: 10px;
  width: 100%; }
  @media (min-width: 600px) {
    /* line 3, /home/ubuntu/workspace/source/stylesheets/events.scss */
    #events {
      width: 35%;
      float: right; } }

/* line 14, /home/ubuntu/workspace/source/stylesheets/events.scss */
.eventsTitle {
  background-color: #052a5d;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center; }

/* line 22, /home/ubuntu/workspace/source/stylesheets/events.scss */
.event {
  padding: 10px; }

/* line 26, /home/ubuntu/workspace/source/stylesheets/events.scss */
.eventName {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px; }

/* line 32, /home/ubuntu/workspace/source/stylesheets/events.scss */
.eventDate {
  font-size: 10px;
  padding-right: 10px;
  padding-left: 10px; }

/* line 38, /home/ubuntu/workspace/source/stylesheets/events.scss */
.eventLocation {
  font-size: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px; }

/* line 45, /home/ubuntu/workspace/source/stylesheets/events.scss */
.eventDescription {
  font-size: 10px;
  padding-right: 10px;
  padding-left: 10px; }

/* line 51, /home/ubuntu/workspace/source/stylesheets/events.scss */
hr {
  border: none;
  width: 95%;
  height: 3px;
  background-color: #052a5d; }

@media (min-width: 600px) {
  /* line 58, /home/ubuntu/workspace/source/stylesheets/events.scss */
  .content {
    width: 65%;
    padding-right: 10px;
    float: left; } }

/* line 4, /home/ubuntu/workspace/source/stylesheets/base.scss */
a {
  color: #2b5fc0;
  text-decoration: none; }
  /* line 7, /home/ubuntu/workspace/source/stylesheets/base.scss */
  a:hover {
    color: #2e4c7a; }

/* line 12, /home/ubuntu/workspace/source/stylesheets/base.scss */
body {
  background-color: #052a5d; }

/* line 16, /home/ubuntu/workspace/source/stylesheets/base.scss */
blockquote {
  font-weight: 300; }

/* line 20, /home/ubuntu/workspace/source/stylesheets/base.scss */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 24, /home/ubuntu/workspace/source/stylesheets/base.scss */
html {
  font-family: 'Open Sans', sans-serif;
  color: #052a5d; }

/* line 29, /home/ubuntu/workspace/source/stylesheets/base.scss */
h1, h2, h3, h4, h5 {
  color: #2e4c7a; }

/* line 33, /home/ubuntu/workspace/source/stylesheets/base.scss */
img {
  max-width: 100%; }

/* line 37, /home/ubuntu/workspace/source/stylesheets/base.scss */
td {
  padding: 5px; }
