/* line 3, /home/ubuntu/workspace/source/stylesheets/foot.scss */
.copyright-wrap {
  color: #8f938e;
  font-size: 12px;
  text-align: center; }

/* line 9, /home/ubuntu/workspace/source/stylesheets/foot.scss */
.foot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  margin-top: 16px; }
